*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Bellota', cursive;
    font-family: 'Josefin Slab', serif;
    font-family: 'Judson', serif;
    height: 100vh;
}
.container{
    /* border: 2px solid red; */
    width: 80%;
    margin: auto;
    height:90% ;
    margin-top: 5%;
   
}
nav .up{
    /* height: 100%; */
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 1rem;
}
.container nav .up .logo{
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 13px;
    border: 1px solid rgba(0, 0, 0, 0.682);
    box-shadow: -1px 1px 2px  rgba(0, 0, 0, 0.61) ;
}
.container nav .up select{
   
    border: 2px;
    border-radius: 5px;
    background-color: #D9D9D9;
    padding: 0.6rem 1rem;
    font-family: 'Bellota', cursive;
    font-weight: 700;
    font-size: 1rem;
    width: 11rem;
}

.container nav .up .search{
    background-color: #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.25rem 0.3rem;
    border-radius: 5px;
   width: 19rem;
}

.container nav .up .search #searchbar{
    background-color: #D9D9D9;
    border: none;
    outline: none;
}
.container nav .up .search .magnifier{
    border: none;
    outline: none;
    background-color: #D9D9D9;
}